<div class="row">
    <div class="col-md-12">
        <table *ngIf="nextGames.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">LOCAL</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col">VISITA</th>
                    <th scope="col">FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of nextGames">
                    <td>{{ evento.TLName }}</td>
                    <td>--</td>
                    <td>--</td>
                    <td>{{ evento.TVName }}</td>
                    <td>{{ evento.Date| date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
